@import 'zmienne';
@import 'mixins';
@import 'nav';
@import 'header';
@import 'services';
@import 'portfolio';
@import 'meet-team';
@import 'contact-us';
@import 'footer';


body {
    font-family: DroidSerif Italic;
}

section {
    padding: 100px 0;
}

.social-icons {
    display: flex;
    justify-content: center;

    a {
        background-color: $czarny;
        color: $bialy;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        margin: 0 10px;
        transition: all 0.4s;
    }

    a:hover {
        background-color: $turkus;

    }
}

.mb-10 {
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: $szary;
}

nav#main-nav a,
input[type="submit"] {
    color: $bialy;
}

p {
    color: $j-szary;
    font-family: 'Lora', serif;
    font-style: italic;
}

p.font-robotoslab,
a.font-robotoslab {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    color: $j-szary;
}



.button-custom,
input[type="submit"]{
    text-transform: uppercase;
    background-color: $turkus;
    border-color: $turkus;
    transition: all 0.4s;
    font-weight: bold;
}

.button-custom:hover,
input[type="submit"]:hover{
    background-color: $bialy;
    color: $turkus;
}