@import 'mixins';
@import 'zmienne';

#main-nav.changeColor {
    background: $turkus-rgba;
}

nav {
    #main-nav {
        div {
            a {
                background-color: transparent;
                transition: all 0.2s linear;
                font-family: sans-serif;
                @include text-font-color;
            }
            a:hover {
                color: $czarny;
            }
            

        }
    }
}
